<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
{{!-- <script src="../app/js/process.js"></script> --}}
<div class="wrapper">
    <div class="sidebar">
        <h2>PHÒNG ĐÀO TẠO</h2>
        <ul>
            <li><a href="/phongdaotao/stu_manager"><i class="fas fa-address-card"></i>Quản lý sinh viên</a></li>
            <li><a href="/phongdaotao/point_manager"><i class="fas fa-project-diagram"></i>Thông tin học tập</a></li>
            <li><a href="/phongdaotao/certifi_manager"><i class="fas fa-blog"></i>Danh sách chứng chỉ</a></li>
            <li><a href="#"><i class="fas fa-map-pin"></i>Đăng xuất</a></li>
        </ul> 
        <div class="social_media">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
    <div class="main_content">
        <div class="header">
            <h2>Chỉnh sữa thông tin sinh viên</h2>
        </div> 
        <div class="container">
            <form action="/phongdaotao/editpoint/{{points.masv}}?_method=PUT " method="POST" >
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> 
                          <label class="form-control-label px-3">Họ và tên<span class="text-danger"> *</span></label> 
                          <input type="text" id="name" value="{{points.name}}" name="name" placeholder="Nhập họ và tên" onblur="validate(1)"> 
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> 
                          <label class="form-control-label px-3">Mã sinh viên<span class="text-danger"> *</span></label> 
                          <input type="text" id="masv" value="{{points.masv}}" name="masv" placeholder="Nhập mã sinh viên" onblur="validate(2)">
                        </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> 
                          <label class="form-control-label px-3">Điểm<span class="text-danger"> *</span></label> 
                          <input type="text" id="diem" value="{{points.diem}}" name="diem" placeholder="Nhập điểm tích lũy thang 4" onblur="validate(3)"> 
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> 
                          <label class="form-control-label px-3">Tín chỉ TL<span class="text-danger"> *</span></label>
                          <input type="text" id="tctl" value="{{points.tctl}}" name="tctl" placeholder=" Nhập tổng số tín chỉ tích lũy" onblur="validate(4)"> 
                        </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> 
                          <label class="form-control-label px-3">Xếp Loại<span class="text-danger"> *</span></label> 
                          <input type="text" id="xeploai" value="{{points.xeploai}}" name="xeploai" placeholder="Nhập xếp loại" onblur="validate(5)"> 
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> 
                          <label class="form-control-label px-3">Tín chỉ Quốc phòng<span class="text-danger"> *</span></label>
                          <input type="text" id="tcqp" value="{{points.tcqp}}" name="tcqp" placeholder=" Nhập mã tín chỉ quốc phòng" onblur="validate(6)"> 
                        </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> 
                          <label class="form-control-label px-3">Tính chỉ Tiếng Anh<span class="text-danger"> *</span></label> 
                          <input type="text" id="tcta" value="{{points.tcta}}" name="tcta" placeholder=" Nhập mẫ tín chỉ tiếng anh đầu ra" onblur="validate(7)"> 
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> 
                          <label class="form-control-label px-3">Tín chỉ Thể chất<span class="text-danger"> *</span></label>
                          <input type="text" id="tctc" value="{{points.tctc}}" name="tctc" placeholder="Nhập tín chỉ giáo dục thể chất" onblur="validate(8)"> 
                        </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> 
                          <label class="form-control-label px-3">Học phí<span class="text-danger"> *</span></label> 
                          <input type="text" id="hocphi" value="{{points.hocphi}}" name="hocphi" placeholder="Đã đóng học phí hay chưa" onblur="validate(9)"> 
                        </div>
                    </div>
                  
                    <div class="row justify-content-end">
                        <div class="form-group col-sm-7"> 
                          <button type="submit" id="btneditpoint" class="btn-block btn-primary">Lưu thông tin</button> 
                        </div>
                    </div>
      </div>
    </div>
</div>