<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
{{!--
<script src="../app/js/process.js"></script> --}}
<div class="wrapper">
    <div class="sidebar">
        <h2>Hiệu trưởng</h2>
        <ul>
            <li><a href="/hieutruong/stu_manager"><i class="fas fa-address-card"></i>Quản lý sinh viên</a></li>
            <li><a href="/hieutruong/point_manager"><i class="fas fa-project-diagram"></i>Thông tin học tập</a></li>
            <li><a href="/hieutruong/certifi_manager"><i class="fas fa-blog"></i>Danh sách chứng chỉ</a></li>
            <li><a href="/hieutruong/waitcertifi_manager"><i class="fas fa-blog"></i>Danh sách chờ cấp chứng chỉ</a>
            </li>
            <li><a href="#"><i class="fas fa-blog"></i>Lịch sử cập nhập</a></li>
            <li><a href="#"><i class="fas fa-map-pin"></i>Đăng xuất</a></li>
        </ul>
        <div class="social_media">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
    <div class="main_content">
        <div class="header">
            <h2>Chỉnh sữa thông tin chứng chỉ</h2>
        </div>
        <div class="container">
            <form action="/hieutruong/editwaitcer/{{certificates.masv}}?_method=PUT " method="POST">
                <div class="row justify-content-between text-left">
                    <div class="form-group col-sm-6 flex-column d-flex">
                        <label class="form-control-label px-3">Họ và tên<span class="text-danger"> *</span></label>
                        <input type="text" id="name" value="{{certificates.name}}" name="name"
                            placeholder="Nhập họ và tên" onblur="validate(1)">
                    </div>
                    <div class="form-group col-sm-6 flex-column d-flex">
                        <label class="form-control-label px-3">Mã sinh viên<span class="text-danger"> *</span></label>
                        <input type="text" id="masv" value="{{certificates.masv}}" name="masv"
                            placeholder="Nhập mã sinh viên" onblur="validate(2)">
                    </div>
                </div>
                <div class="row justify-content-between text-left">
                    <div class="form-group col-sm-6 flex-column d-flex">
                        <label class="form-control-label px-3">Mã chứng chỉ<span class="text-danger"> *</span></label>
                        <input type="text" id="code" value="{{certificates.code}}" name="code"
                            placeholder="Nhập mã chứng chỉ" onblur="validate(3)">
                    </div>
                    <div class="form-group col-sm-6 flex-column d-flex">
                        <label class="form-control-label px-3">Nhập tên chứng chỉ<span class="text-danger">
                                *</span></label>
                        <input type="text" id="titile" value="{{certificates.title}}" name="title"
                            placeholder=" Nhập tên chứng chỉ" onblur="validate(4)">
                    </div>
                </div>
                <div class="row justify-content-between text-left">
                    <div class="form-group col-sm-6 flex-column d-flex">
                        <label class="form-control-label px-3">Xếp Loại<span class="text-danger"> *</span></label>
                        <input type="text" id="xeploai" value="{{certificates.xeploai}}" name="xeploai"
                            placeholder="Nhập xếp loại" onblur="validate(5)">
                    </div>
                    <div class="form-group col-sm-6 flex-column d-flex">
                        <label class="form-control-label px-3">Ngày sinh<span class="text-danger"> *</span></label>
                        <input type="text" id="birday" value="{{certificates.birday}}" name="birday"
                            placeholder="Nhập xếp loại" onblur="validate(5)">
                    </div>
                </div>
                <div class="row justify-content-between text-left">
                     <div class="form-group col-sm-6 flex-column d-flex">
                        <label class="form-control-label px-3">Năm tốt nghiệp<span class="text-danger"> *</span></label>
                        <input type="text" id="grayear" value="{{certificates.grayear}}" name="grayear"
                            placeholder=" Nhập mã tín chỉ quốc phòng" onblur="validate(6)">
                    </div>
                    <div class="form-group col-sm-6 flex-column d-flex">
                        <label class="form-control-label px-3">Ngày phát hành<span class="text-danger"> *</span></label>
                        <input type="text" id="ngayph" value="{{certificates.ngayph}}" name="ngayph"
                            placeholder="Ngày phát hành" onblur="validate(7)">
                    </div>
                </div>
                <div class="row justify-content-between text-left">
                     <div class="form-group col-sm-6 flex-column d-flex">
                        <label class="form-control-label px-3">Người cấp<span class="text-danger"> *</span></label>
                        <input type="text" id="author" value="{{certificates.author}}" name="author"
                            placeholder="Tên người cấp bằng" onblur="validate(8)">
                    </div>
                    <div class="form-group col-sm-6 flex-column d-flex">
                        <label class="form-control-label px-3">Ngày tạo<span class="text-danger"> *</span></label>
                        <input type="text" id="ngaytao" value="{{certificates.ngaytao}}" name="ngaytao"
                            placeholder="Ngày tạo" onblur="validate(9)">
                    </div>
                   
                </div>
                {{!-- <div class="row justify-content-between text-left">
                     <div class="form-group col-sm-6 flex-column d-flex">
                        <label class="form-control-label px-3">Người cập nhật<span class="text-danger"> *</span></label>
                        <input type="text" id="updater" value="{{certificates.updater}}" name="updater"
                            placeholder="Tên người cập nhật" onblur="validate(9)">
                    </div>

                    <div class="form-group col-sm-6 flex-column d-flex">
                        <label class="form-control-label px-3">Ngày cập nhật<span class="text-danger"> *</span></label>
                        <input type="text" id="ngaycn" value="{{certificates.ngaycn}}" name="ngaycn"
                            placeholder="Ngày cập nhập" onblur="validate(9)">
                    </div> --}}
                   

                </div>
                 <div class="row justify-content-between text-left">
                    <div class="form-group col-sm-6 flex-column d-flex">
                        <label class="form-control-label px-3">Số vào sổ cấp bằng<span class="text-danger"> *</span></label>
                        <input type="text" id="codecb" value="{{certificates.codecb}}" name="codecb"
                            placeholder="Nhập số vào sổ cấp bằng" onblur="validate(9)">
                    </div>
                     <div class="form-group col-sm-6 flex-column d-flex">
                        <label class="form-control-label px-3">Trạng thái<span class="text-danger"> *</span></label>
                        <input type="text" id="status" value="{{certificates.status}}" name="status"
                            placeholder="Đang phát hành hoặc không" onblur="validate(9)">
                    </div>
                </div>

                <div class="row justify-content-end">
                    <div class="form-group col-sm-7">
                        <button type="submit" id="btneditpoint" class="btn-block btn-primary">Lưu thông tin</button>
                    </div>
                </div>
        </div>
    </div>
</div>