<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>

<div class="wrapper">
  <div class="sidebar">
    <h2>HIỆU TRƯỞNG</h2>
    <ul>
      <li><a href="/hieutruong/stu_manager"><i class="fas fa-address-card"></i>Quản lý sinh viên</a></li>
      <li><a href="/hieutruong/point_manager"><i class="fas fa-project-diagram"></i>Thông tin học tập</a></li>
      <li><a href="/hieutruong/certifi_manager"><i class="fas fa-blog"></i>Danh sách chứng chỉ</a></li>
      <li><a href="/hieutruong/waitcertifi_manager"><i class="fas fa-blog"></i>Danh sách chờ cấp chứng chỉ</a></li>
      <li><a href="#"><i class="fas fa-blog"></i>Lịch sử cập nhập</a></li>
      <li><a href="#"><i class="fas fa-map-pin"></i>Đăng xuất</a></li>
    </ul>
    <div class="social_media">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
  <div class="main_content">
    <div class="header">
      <h2>Quản lý tài khoản</h2>
      <div class="search-form">
                <form action="">
                    <label for="">
                        <input type="text" placeholder="tìm kiếm..." id="myInput" onkeyup="myFunction()">

                    </label>
                </form>
            </div>
    </div>

    <div class="container">

      <table class="table" id="myTable">
                <thead>
                    <tr class="header_tr">
            <th scope="col">Họ và tên</th>
            <th scope="col">Mã sinh viên</th>
            <th scope="col">Email</th>
            <th scope="col">Khoa</th>
            <th scope="col">Lớp</th>
            {{!-- <th scope="col">CMND</th> --}}
            <th scope="col">Số điện thoại</th>
            {{!-- <th scope="col">Sinh nhật</th> --}}
            <th scope="col">Giới tính</th>
            {{!-- <th scope="col">Địa chỉ</th> --}}
            <th scope="col">Ngành</th>
            <th scope="col">Niên Khóa</th>
            {{!-- <th scope="col">Hình thức đào tạo</th> --}}
            {{!-- <th scope="col">Trình độ đào tạo</th> --}}
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {{#each students}}
          <tr>
            <th scope="col">{{this.name}}</th>
            <th scope="col">{{this.masv}}</th>
            <th scope="col">{{this.email}}</th>
            <th scope="col">{{this.khoa}}</th>
            <th scope="col">{{this.lop}}</th>
            {{!-- <th scope="col">{{this.cmnd}}</th> --}}
            <th scope="col">{{this.sdt}}</th>
            {{!-- <th scope="col">{{this.birday}}</th> --}}
            <th scope="col">{{this.gender}}</th>
            {{!-- <th scope="col">{{this.address}}</th> --}}
            <th scope="col">{{this.nganh}}</th>
            <th scope="col">{{this.nienkhoa}}</th>
            {{!-- <th scope="col">{{this.hinhthucdt}}</th> --}}
            {{!-- <th scope="col">{{this.trinhdodt}}</th> --}}
            <td>

              <button class="btn border-shadow detail" type="button" onclick="showDetail('{{this._id}}')">
                <i class="fas fa-list"></i>
              </button>

              {{!-- <a class="btn border-shadow delete" data-bs-whatever="@mdo" data-id="{{this._id}}"
                data-bs-toggle="modal" data-bs-target="#exampleModal1">
                <i class="fas fa-times"></i>
              </a> --}}

            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

  </div>
</div>
<script>
  function showDetail(id) {
    console.log("Show id: " + id);
    $.ajax({
      url: '/hieutruong/getstujson/' + id,
      type: 'get',
      dataType: 'json',
    }).done(function (ketqua) {
      console.log(ketqua);
      document.getElementById('detail_name').innerText = ketqua.name;
      document.getElementById('detail_masv').innerText = ketqua.masv;
      document.getElementById('detail_email').innerText = ketqua.email;
      document.getElementById('detail_khoa').innerText = ketqua.khoa;
      document.getElementById('detail_lop').innerText = ketqua.lop;
      document.getElementById('detail_cmnd').innerText = ketqua.cmnd;
      document.getElementById('detail_sdt').innerText = ketqua.sdt;
      document.getElementById('detail_birday').innerText = ketqua.birday;
      document.getElementById('detail_gender').innerText = ketqua.gender;
      document.getElementById('detail_address').innerText = ketqua.address;
      document.getElementById('detail_nganh').innerText = ketqua.nganh;
      document.getElementById('detail_nienkhoa').innerText = ketqua.nienkhoa;
      document.getElementById('detail_hinhthucdt').innerText = ketqua.hinhthucdt;
      document.getElementById('detail_trinhdodt').innerText = ketqua.trinhdodt;
      $('#exampleModal2').modal('show');
    });
  }
</script>
{{!-- Confirm delete --}}
<div id="exampleModal1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa sinh viên</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn chắc chắn muốn xóa sinh viên này ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button id="btndeletestu" type="button" class="btn btn-primary">Xóa</button>
      </div>
    </div>
  </div>
</div>
{{!-- DELETE hiden form --}}
<form id="deleteform" name="delete-stu-form" method="POST"></form>
{{!-- Form Detail --}}
<div id="exampleModal2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Thông tin chi tiết</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form class="modal-body" method="GET">

        <div class="row">
          {{!-- <div class="col"> --}}
            <div class="row">
              <table class="table table-borderless table-condensed table-hover">
                <tr>
                  <td class="font-bold">Họ và tên</td>
                  <td class="font-bold"><span id="detail_name"></span></td>
                </tr>
                <tr>
                  <td class="font-bold">Mã sinh viên</td>
                  <td class="font-bold"><span id="detail_masv"></span></td>
                </tr>
                <tr>
                  <td class="font-bold">Email</td>
                  <td class="font-bold"><span id="detail_email"></span></td>
                </tr>
                <tr>
                  <td class="font-bold">Khoa</td>
                  <td class="font-bold"><span id="detail_khoa"></span></td>
                </tr>
                <tr>
                  <td class="font-bold">Lớp</td>
                  <td class="font-bold"><span id="detail_lop"></span></td>
                </tr>
                <tr>
                  <td class="font-bold">Số điện thội</td>
                  <td class="font-bold"><span id="detail_sdt"></span></td>
                </tr>
                <tr>
                  <td class="font-bold">CMND / CCCD</td>
                  <td class="font-bold"><span id="detail_cmnd"></span></td>
                </tr>
                <tr>
                  <td class="font-bold">Ngày sinh</td>
                  <td class="font-bold"><span id="detail_birday"></span></td>
                </tr>
                <tr>
                  <td class="font-bold">Giới tính</td>
                  <td class="font-bold"><span id="detail_gender"></span></td>
                </tr>
                <tr>
                  <td class="font-bold">Địa chỉ</td>
                  <td class="font-bold"><span id="detail_address"></span></td>
                </tr>
                <tr>
                  <td class="font-bold">Ngành đào tạo</td>
                  <td class="font-bold"><span id="detail_nganh"></span></td>
                </tr>
                <tr>
                  <td class="font-bold">Trình độ đào tạo</td>
                  <td class="font-bold"><span id="detail_trinhdodt"></span></td>
                </tr>
                <tr>
                  <td class="font-bold">Niên khóa</td>
                  <td class="font-bold"><span id="detail_nienkhoa"></span></td>
                </tr>
                <tr>
                  <td class="font-bold">Hình thức đào tạo</td>
                  <td class="font-bold"><span id="detail_hinhthucdt"></span></td>
                </tr>
              </table>
              {{!--
            </div> --}}
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
          {{!-- <button id="btndeletestu" type="button" class="btn btn-primary">Xóa</button> --}}
        </div>
    </div>
  </div>
</div>


<script>
  document.addEventListener('DOMContentLoaded', function () {
    var PointMasv;
    var deleteForm = document.forms['delete-stu-form'];
    var btndeletestu = document.getElementById('btndeletestu');
    console.log(deleteForm);
    $('#exampleModal1').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      //PointMasv = button.data('id');
      PointMasv = button.attr('data-bs-whatever');
      console.log(PointMasv);
    });
    btndeletestu.onclick = function () {
      deleteForm.action = '/hieutruong/stu_manager/' + PointMasv + '?_method=DELETE';
      deleteForm.submit();
    }
  });
  // SEARCH JAVASCRIPT
  const myFunction = () => {
    const trs = document.querySelectorAll('#myTable tr:not(.header_tr)')
    const filter = document.querySelector('#myInput').value
    const regex = new RegExp(filter, 'i')
    const isFoundInTds = td => regex.test(td.innerHTML)
    const isFound = childrenArr => childrenArr.some(isFoundInTds)
    const setTrStyleDisplay = ({ style, children }) => {
      style.display = isFound([
        ...children // <-- All columns
      ]) ? '' : 'none'
    }

   

</script>